[[connections]]
title = "main_pg"
type = "postgres"
#connection = "postgres://pguser:password123@postgres:5432/outliers"
connection =  "postgres://pguser:password123@localhost:5432/outliers"
max_open_conns = 10
max_idle_conns = 2
conn_max_lifetime = "30m"

[[notifications]]
title = "Slack Repeater"
type = "slack"
webhook_url = "$SLACK_WEBHOOK"

[[notifications]]
title = "Emails"
type = "email"
smtp_server_with_port = "smtp.gmail.com:587"
username = "$SMTP_USERNAME"
password = "$SMTP_PASSWORD"
from = "$SMTP_USERNAME"
common_recipients = [""]

[[detectors]]
title = "Wiki Pageviews"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
backsteps = 90
cron_schedule = "*/5 * * * *"
notify_emails = [""]
detection_method = 'dist_from_mean'
percent = 10
avg_window = 30

[[detectors]]
title = "Wiki Pageviews Stddev"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
backsteps = 90
cron_schedule = "*/5 * * * *"
notify_emails = [""]
detection_method = 'dist_from_mean'
sigma = 3
avg_window = 30

[[detectors]]
title = "Wiki Pageviews Projects"
connection = "main_pg"
data_sql = "select dt::timestamp as t, project as dim, views as value from wiki_pageviews"
output = "wiki_pageviews_outliers"
backsteps = 90
detection_method = 'dist_from_mean'
percent = 20
avg_window = 30

[[detectors]]
title = "Wiki Pageviews Threshold"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
backsteps = 90
cron_schedule = "*/5 * * * *"
notify_emails = [""]
detection_method = 'threshold'
lower = 220000000