body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

h1 a {
	color: black;
	text-decoration: none;
}

.hidden {
	display: none;
}

x-outliers {
	display: block;
	margin: 0 auto;
	#detectors {
		margin-bottom: 50px;
	}
}

x-detector {
	display: block;
	margin-bottom: 100px;
	.detector-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.5em;
	}
	.detector-header .left {
		display: flex;
		align-items: center;
		gap: 10px;
		flex: 30;
	}
	.detector-header h3 {
		margin: 0;
		line-height: 1;
		display: flex;
		align-items: center;
	}
	.detector-header .info {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
		border: 1.5px solid black;
		background-color: #fff;
		color: black;
		font-style: italic;
		font-weight: normal;
		font-size: 1em;
		line-height: 1;
		cursor: pointer;
		padding: 0;
	}
	.detector-header button.info:hover {
		box-shadow: 0 0 0px 1px black;
		font-weight: bold;
	}
	.detector-header button.info:active {
  		background-color: #eee;
	}
	.detector-header .outliers-text {
		flex: 40;
		text-align: center;
		font-style: italic;
		/* todo: center relative to the page */
	}
	.detector-header .right {
		flex: 30;
		text-align: right;
	}
	.detector-header .schedule {
		font-style: italic;
	}
	.detector-header button.update,
	.detector-header button.onoff {
		display: inline-block;
		background-color: white;
		border: 1.5px solid black;
		border-radius: 7px;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 400;
		margin: 0 5px;
		padding: 5px 10px;
		min-width: 3rem;
		text-align: center;
		white-space: nowrap;
		transition: background-color 0.1s ease;
	}
	.detector-header button.onoff.off {
		background-color: #ddd;
	}
	.detector-header button.update:hover,
	.detector-header button.onoff:hover {
  		box-shadow: 0 0 0px 1px black;
	}
	.detector-header button.update:active,
	.detector-header button.onoff:active {
  		background-color: #eee;
	}
	.detector-header button.hidden {
		/* todo: apply general .hidden style */
		display: none;
	}
	.detector-header .last-update {
		font-style: italic;
		font-size: small;
	}
	.plots {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin: 20px auto;
	}
	.plot-wrapper {
		display: grid;
		grid-template-columns: 10% 70% 20%; /* Dim | Plot | List */
		align-items: start;
		gap: 20px;
		width: 100%;
	}
	.dim-title {
		display: flex;
		font-weight: bold;
		text-align: center;
		padding-top: 1rem;
	}
	.uplot {
		width: 100%;
		height: 300px; 
		flex: 1 1 auto;
	}
	.uplot-legend {
		padding-top: 1rem;
	}
	.detector-info {
		display: grid;
		grid-template-columns: max-content 1fr;
		row-gap: 0.25rem;
		column-gap: 0.5rem;
		margin-top: 0.5rem;
		align-items: center;
		background-color: #f5f5f5;
		font-family: monospace;
		border-radius: 7px;
		padding: 0.5rem;
		p {
			margin: 0;
			display: contents;
		}
		p span.label {
			font-weight: bold;
			text-align: left;
			padding-right: 0.5rem;
		}
		p span.value {
			text-align: left;
		}
	}
	.detector-info.hidden {
		display: none;
	}
}